In [1]:
import pandas as pd

In [2]:
# load the dataset
df = pd.read_csv('learningSet.csv', low_memory=False)


# display the head of the dataframe
display(df)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

Complete the following steps on the CATEGORICAL columns in the dataset:

In [3]:
# create a new dataframe containing only categorical columns from df

categorical = df.select_dtypes(include=['object'])

In [4]:
# check for null values in columns
categorical.isnull().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [ ]:
# create new empty list
# we will append to this list a set of columns to be dropped later

drop_list = ['OSOURCE', 'ZIP']

# flag columns that have over 85 percent missing values

missing_values = categorical.isnull().sum()
missing_values_percent = (missing_values / len(categorical)) * 100

# Add columns with more than 85% missing values to the drop_list

columns_to_drop = missing_values_percent[missing_values_percent > 85].index.tolist()
drop_list += columns_to_drop

# remove the columns in the drop list from the dataframe
categorical = categorical.drop(columns=drop_list)

display(categorical)

In [ ]:
# replace missing values with F for gender column

categorical['GENDER'] = categorical['GENDER'].fillna('F')

# reduce the number  of categories in the gender column to M, F and other for all the rest

categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x if x in['M', 'F'] else 'Other' )

display(categorical)

In [ ]:
# just taking a NEW look at the gender column


print(categorical['GENDER'].value_counts())